@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .animate{
    display: flex;
    animation: scroll 50s linear infinite;
  }
  .animate:hover{
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
.carousel .swiper-wrapper,
.preview .swiper-wrapper,
.breakpoint .swiper-wrapper,
.coverflow .swiper-wrapper {
  padding-bottom: 3rem;
}

.coverflow .swiper-pagination-bullet {
  background-color: #ffffff;
}

.coverflow .swiper-pagination-bullet-active {
  background: #6FCF97;
}

.coverflow .swiper-slide-active {
  border: 5px solid #6FCF97;
  border-radius: 15px;
}


